<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
<h1>Welcome to Rock, Paper, Scissors GAME</h1>
<form action="#" th:action="@{/playGame}" method="post">
    <input type="hidden" th:value="${userUUID}" name="userUUID"/>
    <input type="submit" value="Play Round" >
</form>
<p><label>Round played:</label><span th:text="${gameStatus.getRoundsPlayed()}"></span></p>
<table>
    <tr>
        <th>First player chose</th>
        <th>Second player chose</th>
        <th>Round result</th>
    </tr>
    <tr>
        <td th:text="${gameStatus.getPlayerOneChose()}" />
        <td th:text="${gameStatus.getPlayerTwoChose()}" />
        <td th:text="${gameStatus.getRoundResult()}" />
    </tr>
</table>
<p></p>
<form method="post" th:action="@{/resetGame}">
    <input type="hidden" th:value="${userUUID}" name="userUUID"/>
    <input type="submit" value="Restart game">
</form>


</body>
</html>