<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Report</title>
</head>
<body>
<h1>Report Rock, Paper, Scissors GAME</h1>

<p><label>Total rounds played: </label><span th:text="${gamesReport.getTotalRoundsPlayed()}"></span></p>
<p><label>Total wins for player one: </label><span th:text="${gamesReport.getTotalWonPlayerOne()}"></span></p>
<p><label>Total wins for player two: </label><span th:text="${gamesReport.getTotalWonPlayerTwo()}"></span></p>
<p><label>Total draws: </label><span th:text="${gamesReport.getTotalDraw()}"></span></p>
</body>
</html>